body {
    margin: 0;
}

.blackbox {
	width:450px;
	height:215px;
	background-color:black; 
	color:white;
	margin: 0 auto;
	margin-top:50px;
	padding-top:65px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

.innerbox{
	width:350px;
	height:150px;
	background-color:black; 
	margin: 0 auto;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#parent {
	margin-top:25px;
    overflow: hidden;
    border-top: 1px solid white;
}
.innerboxtext1{
	padding-left: 60px;
	margin-right:-70px;
	padding-top:11px;
	float: left;
	text-decoration: underline;
	font-size: 70px;
}
.innerboxtext2{
	overflow: hidden;
	font-size: 120px;
}

#parent a{
	text-decoration: none;
	color:white;
}

.nextbox {
	width:450px;
	height:215px;
	background-color:black; 
	color:white;
	margin: 0 auto;
	margin-top:50px;
	padding-top:65px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

.yellowtext{
	width:450px;
	height:41px;
	color:#A99A18;
	margin: 0 auto;
	margin-top:115px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

.blacktext{
	width:620px;
	height:50px;
	color:black;
	margin: 0 auto;
	margin-top:10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:500;
	margin-bottom: 33px;
}

.blackborderbox{
	width:280px;
	color:black;
	border: 3px solid black;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	padding-top:20px;
	padding-bottom: 20px;
}
.blackborderbox:hover{
   background-color:black;
   color:white;
}
.footer{
	margin-top:110px;
	width:100%;
	height:520px;
	background-color: black;
}
.footer_div_1{
    width:37%;
    min-width: 200px;
    height:190px;
    margin-top:20px;
    border-right: 1px solid #666666;
    border-bottom:1px solid #666666;
    float:left;
    color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#bfbfbf;
    margin-bottom: 10px;
}
.hello{
	display: inline-block;
	position: absolute;
	height:180px;
}
#rectangular {
  -webkit-clip-path: inset(10px 300px 280px 260px);
  clip-path: inset(10px 300px 280px 260px);
}
.readarticleslink{
	margin-top:80px;
}
.readarticleslink a{
	text-decoration: none;
}
.readarticleslink:hover{
	text-decoration: underline;
}
.footer_div_2{
    width:62.5%;
    height:190px;
    min-width: 300px;
    margin-top:20px;
    border-bottom:1px solid #666666;
    float:left;
    color:white;
}
.inner_footer_div_2{
	margin-top:45px;
	min-width: 700px;
	width:90%;
	height:120px;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}
.signuptitle{
	margin-left:70px;
	color:#A99A18;
	margin-bottom: 10px;

}
.signup:hover{
	background-color: white;
	color:black;
}
.inputdiv{
	float: left;
	margin-left:70px;
	margin-right: 6px;
}
.signup{
	margin-top: 17px;
	overflow: hidden;
	background-color: black;
	width:220px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	border:3px solid white;
	color:#bfbfbf;
	font-size:13px;
}

input[type=text] {
    width: 355px;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:16px;
}
table, th, td {
   color:#bfbfbf;
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
}
td{
	padding-left:28px;
}
.column1{
	width:19%;
	min-width:200px;
}
.column2{
	width:14.5%;
	min-width:150px;
}
.column3{
	width:19%;
	min-width:150px;
}
.column4{
	width:17.5%;
	min-width:200px;
}
.column5{
	width:22.5%;
	min-width:250px;
}
.tabletitle{
	color:#A99A18;
	font-size:16px;
	padding-bottom: 28px;
}
.cityname{
	padding-bottom: 28px;
}
.contactinfo{
	padding-top: 42px;
}
.contactusbutton{
	width:180px;
	border:3px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size:10px;
}
.contactusbutton:hover{
	background-color: white;
	color:black;
}
span.yellowtext {
	color:#A99A18
}
.footer a{
	color:#bfbfbf;
}
.outer{
	width:100%;
	text-align: center;
}
.crop{
	display: inline-block;
	position: absolute;
	width:100%;
	height:130px;
	overflow:hidden;
	text-align: center;
	margin: 0 auto;

}
.crop img{
	width:1100px;
}